#container{
  text-align: center;
}

.songSearch{
  padding: 5px;
  font-size: 15px;
  height: 100%;
  width: 30%;
  border-radius: 0px 5px 5px 0px;
  border: 0;
  border-left-style: none;
  background-color: #1ED760;
  color: white;
  outline-width: 0;
  font-weight: bold;
}

.textInput{
  width: 70%;
  height: 100%;
  border: 0;
  border-radius: 5px 0 0 5px;
  padding: 5px;
  font-size: 15px;
  border-right-style: none;
  padding-left: 10px;
  box-sizing: border-box;
  outline-width: 0;
  font-weight: bold;
}

.searchContainer{
  height: 40px;
  margin: 0;
  padding: 0;
  max-width: 350px;
  width: 100%;
  border-radius: 5px;
  margin: 30px auto;
  display: inline-block;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, .3);
}

.info {
  color: white;
}

.songView{
  position: fixed;
  left: 0;
  right: 0;
  max-width: 430px;
  margin: 0 auto;
  background-color: #CCC;
  border-radius: 6px 5px 6px 6px;
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, .3);
  transition: background-color 1s;
}

.header{
  display: flex;
  z-index: 1;
  box-shadow: 0 4px 8px rgba(0, 0, 0, .3);
}

.albumImage{
  width: 50%;
  overflow: hidden;
  border-radius: 5px 0 0 0;
  background-color: #282828;
  position: relative;
  
}

.albumImage img{
  animation: spin-infinite-animation infinite 15s linear;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  user-drag: none; 
  user-select: none;
}

.play-pause {
  z-index: 1;
  position: absolute;
  top: 29.2%;
  left: 29.2%;
  text-shadow: 0 2px 6px rgba(0, 0, 0, .7);
}

.play-pause i {
  font-size: 90px;

}

.trackInfo{
  width: 50%;
  position: relative;
  text-align: left;
  box-sizing: border-box;
  padding: 10px;
  font-weight: bold;
}

.trackInfo h2 {
  font-size: 21px;
  margin-bottom: 6px;
}

.trackInfo h3 {
  font-size: 16px;
  margin-bottom: 4px;
}

.action-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 4;
}

.addToPlaylist{
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 0;
  font-size: 15px;
  color: green;
  background-color: #EEE;
  margin: 10px;
  outline-width: 0;
}

.addToPlaylist i {
  position: relative;
  top: 2px;
  left: 2px;
}

.removeFromPlaylist{
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 0;
  font-size: 12px;
  color: red;
  background-color: #EEE;
  margin: 10px;
  outline-width: 0;
}

.removeFromPlaylist i {
  position: relative;
  top: 2px;
}


.savePlaylist{
  background-color: #1ED760;
  color: white;
  border: 0;
  padding: 7px 10px;
  border-radius: 60px;
  font-size: 14px;
  margin: 10px;
  outline-width: 0;
}

.trackInfo button{
  position: absolute;
  background-color: black;
  outline-width: 0;
  width: 100%;
  border:0;
  bottom: 0;
  left: 0;
  height: 25%;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  font-size: 13px;
  opacity: 1;
  transition: opacity 0.5s;
}

.trackInfo button:active {
  opacity: 0.5;
}

.player{
  width: 100%;
  height: 80px;
  background-color: #282828;
  transition: height .3s;
}

.player.hidden {
  height: 0px;
}

.player iframe {
  width: 100%;
  height: 80px;
}

.lyrics{
  width: 100%;
  /*max-height: 200px;*/
  overflow-y: scroll;
  background-color: #6C6C6C;
  box-sizing: border-box;
  padding: 20px;
  border-radius: 0 0 5px 5px;
}

.playlist {
  position: absolute;
  overflow-y: scroll;
  overflow-x: hidden;
  right: 20px;
  bottom: 0;
  top: 30px;
  background-color: #6C6C6C;
  max-width: 300px;
  min-width: 300px;
  text-align: left;
}

.playlist li {
  /*display: flex;*/
}

.playlist .album-image {
  width: 50px;
}

.playlist .song-info {
}

@keyframes spin-infinite-animation {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
